EMS_BPEL/StudentenService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://ws.apache.org/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:documentation>StudentenService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://ws.apache.org/axis2" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="isEenGepastVoorstel">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="begin" nillable="true" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="eind" nillable="true" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isEenGepastVoorstelResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annuleerLes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="planLes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="annuleerLesRequest">
        <wsdl:part name="parameters" element="ns0:annuleerLes"/>
    </wsdl:message>
    <wsdl:message name="planLesRequest">
        <wsdl:part name="parameters" element="ns0:planLes"/>
    </wsdl:message>
    <wsdl:message name="isEenGepastVoorstelRequest">
        <wsdl:part name="parameters" element="ns0:isEenGepastVoorstel"/>
    </wsdl:message>
    <wsdl:message name="isEenGepastVoorstelResponse">
        <wsdl:part name="parameters" element="ns0:isEenGepastVoorstelResponse"/>
    </wsdl:message>
    <wsdl:portType name="StudentenServicePortType">
        <wsdl:operation name="annuleerLes">
            <wsdl:input message="ns0:annuleerLesRequest" wsaw:Action="urn:annuleerLes"/>
        </wsdl:operation>
        <wsdl:operation name="planLes">
            <wsdl:input message="ns0:planLesRequest" wsaw:Action="urn:planLes"/>
        </wsdl:operation>
        <wsdl:operation name="isEenGepastVoorstel">
            <wsdl:input message="ns0:isEenGepastVoorstelRequest" wsaw:Action="urn:isEenGepastVoorstel"/>
            <wsdl:output message="ns0:isEenGepastVoorstelResponse" wsaw:Action="urn:isEenGepastVoorstelResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StudentenServiceSOAP11Binding" type="ns0:StudentenServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="annuleerLes">
            <soap:operation soapAction="urn:annuleerLes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="planLes">
            <soap:operation soapAction="urn:planLes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isEenGepastVoorstel">
            <soap:operation soapAction="urn:isEenGepastVoorstel" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StudentenServiceSOAP12Binding" type="ns0:StudentenServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="annuleerLes">
            <soap12:operation soapAction="urn:annuleerLes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="planLes">
            <soap12:operation soapAction="urn:planLes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isEenGepastVoorstel">
            <soap12:operation soapAction="urn:isEenGepastVoorstel" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StudentenServiceHttpBinding" type="ns0:StudentenServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="annuleerLes">
            <http:operation location="StudentenService/annuleerLes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="annuleerLes"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="planLes">
            <http:operation location="StudentenService/planLes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="planLes"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isEenGepastVoorstel">
            <http:operation location="StudentenService/isEenGepastVoorstel"/>
            <wsdl:input>
                <mime:content type="text/xml" part="isEenGepastVoorstel"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="isEenGepastVoorstel"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StudentenService">
        <wsdl:port name="StudentenServiceSOAP11port_http" binding="ns0:StudentenServiceSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/StudentenService"/>
        </wsdl:port>
        <wsdl:port name="StudentenServiceSOAP12port_http" binding="ns0:StudentenServiceSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/StudentenService"/>
        </wsdl:port>
        <wsdl:port name="StudentenServiceHttpport" binding="ns0:StudentenServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/StudentenService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
